beautifulsoup4=4.11.1
dvc=2.11.0
gitpython=3.1.27
jupyterlab=3.4.3
mlflow=1.26.1
numpy=1.22.4
pandas=1.4.2
pillow=9.1.1
pip=22.1.2
podman=4.1.0
pytesseract=0.3.10
python=3.10.4
scipy=1.8.1
setuptools=62.3.3
spacy=3.3.1
stanza=1.4.0
dagshub==0.1.8
opencv-python==4.6.0.66
